$bg: blue;

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Gugi', cursive;
    background-color: rgb(156, 95, 95);
}

.bgc-adidas img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.side-menu {
    color: white;
    position: fixed;
    z-index: 1;
    background-color: rgba(218, 137, 137, 0.274);
    height: 100%;
    width: 102px;
}

.side-menu div i {
    font-size: 28px;
    height: 30px;
}

.side-menu .empty i {
    display: none;
}

.side-menu div span {
    font-size: 18px;
}

.side-menu div {
    padding: 10px;
    text-align: center;
}

.side-menu div:hover:not(.text):not(.empty) {
    background-color: rgba(218, 137, 137, 0.582);
}

.empty {
    height: 30%;
    opacity: 100%;
}

.search {
    margin-left: 43%;
    margin-top: 27px;
    position: fixed;
    z-index: 1;
}

.search input {
    border: none;
    border-radius: 15px;
    width: 280px;
    height: 34px;
    background-color: rgba(241, 138, 138, 0.301);
    color: white;
    font-size: 24px;
    text-align: center;
}

.search input::placeholder {
    color: white;
}

.search input:focus {
    outline: none;
}

.search input:-webkit-autofill:focus {
    background-color: rgba(241, 138, 138, 0.301);
}

.search i {
    color: white;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}

.search i:hover {
    color: rgb(201, 98, 98);
}

.login {
    position: fixed;
    z-index: 1;
    color: white;
    margin-left: 92.3%;
    margin-top: 27px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(241, 138, 138, 0.301);
    border-radius: 20px;
}

.login:hover {
    background-color: rgba(241, 138, 138, 0.582);
    cursor: pointer;
}

.logout {
    display: none;
    position: fixed;
    z-index: 1;
    color: white;
    margin-left: 92.3%;
    margin-top: 27px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(241, 138, 138, 0.301);
    border-radius: 20px;
}

.logout:hover {
    background-color: rgba(241, 138, 138, 0.582);
    cursor: pointer;
}

.swiper-container {
    display: block;
    height: 65%;
    width: 65%;
    top:  18%;
    left: 18%;
    position: fixed;
    border-radius: 10px;
}

.swiper-slide {
    background-color: rgba(218, 137, 137, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.swiper-pagination {
    background-color: rgba(218, 137, 137, 0.582);
}

/*-------------------Login - Register----------------------------*/

.login-form {
    margin-left: 39.5%;
    margin-top: 19%;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 80px;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    background-color: rgba(218, 137, 137, 0.274);
}

.login-form i {
    position: absolute;
    color: white;
    margin-left: 325px;
    margin-top: -40px;
    font-size: 22px;
}

.login-form i:hover {
    color: rgb(201, 98, 98);
    cursor: pointer;
}

.register-form {
    margin-left: 39.5%;
    margin-top: 19%;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 80px;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    background-color: rgba(218, 137, 137, 0.274);
}

.register-form i {
    position: absolute;
    color: white;
    margin-left: 325px;
    margin-top: -40px;
    font-size: 22px;
}

.register-form i:hover {
    color: rgb(201, 98, 98);
    cursor: pointer;
}

.username input {
    height: 28px;
    width: 320px;
    font-size: 22px;
    font-family: 'Gugi', cursive;
    border: none;
    border-radius: 7px;
    text-align: center;
}

.password {
    padding-top: 15px;
}

.password input {
    height: 28px;
    width: 320px;
    font-size: 22px;
    font-family: 'Gugi', cursive;
    border: none;
    border-radius: 7px;
    text-align: center;
}

.send {
    margin-top: 15px;
    margin-left: 80px;
}

.send input {
    height: 36px;
    width: 168px;
    border-radius: 12px;
    background-color: rgb(46, 211, 120);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/*-----------------------------------Shop Items---------------------------------*/

#slide-1 {
    display: flex;
    flex-direction: column;
}
#slide-2 {
    display: flex;
    flex-direction: column;
}
#slide-3 {
    display: flex;
    flex-direction: column;
}
#slide-4 {
    display: flex;
    flex-direction: column;
}
#slide-5 {
    display: flex;
    flex-direction: column;
}

.product-photo {

}

.product-name {

}

/*-----------------------------------Cart Items---------------------------------*/

.cart-holder {
    color: #fff;
    margin-left: 16%;
    margin-top: 9%;
    width: 70%;
    height: 60%;
    position: fixed;
    z-index: 1;
    background-color: rgba(218, 137, 137, 0.274);
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.cart-item {
    background-color: rgba(218, 137, 137, 0.582);
    font-size: 20px;
}

.cart-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 10%;
}

.item-del {
    float: right;
    padding: 6px;
    font-size: 20px;
}

.item-del:hover {
    color: rgb(201, 76, 76);
}

.more-info {
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(165, 209, 136, 0.788);
    width: 35%;
    cursor: pointer;
}

.summ-container {
    position: fixed;
    z-index: 1;
    color: #fff;
    background-color: rgba(218, 137, 137, 0.274);
    margin-left: 16%;
    display: flex;
}
/*-----------------------------------Contact---------------------------------*/

.contact-info {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    top: 85%;
    height: 15%;
    width: 100%;
}

a:link {
    font-style: none;
    color: rgba(218, 137, 137, 0.918);
}

/*-----------------------------------Responsiveness---------------------------------*/

@media screen and (max-width: 1140px) {
    body {
        background-color: rgb(156, 95, 95);
    }
    .bgc-adidas img {
        display: none;
    }
    .login {
        margin-left: 88%;
    }
    .logout {
        margin-left: 88%;
    }
    .login-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .register-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .swiper-container {
        left: 18%;
        width: 75%
    }
}

@media (max-width: 800px) {
    .empty {
        height: 10%;
    }
    .login {
        margin-left: 83%;
    }
    .logout {
        margin-left: 83%;
    }
    .login-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .register-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .swiper-container {
        left: 18%;
        width: 75%
    }
}

@media (max-width: 650px) {
    .bgc-adidas img {
        display: none;
    }
    .side-menu {
        display: flex;
        z-index: 2;
        top: 86%;
        background-color: rgba(218, 137, 137, 0.274);
        height: 14%;
        width: 100%;
        justify-content: space-around;
        align-items: center; 
    }
    .side-menu span {
        display: none;
    }
    .side-menu div:not(.empty) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .side-menu div:hover:not(.text):not(.empty) {
        background-color: rgba(218, 137, 137, 0);
    }
    .side-menu div:hover:not(.empty) i {
        color: rgb(255, 151, 151);
    }
    .side-menu div:not(.empty) i {
        font-size: 30px;
    }
    .empty {
        display: none;
    }
    .login {
        position: relative;
        float: right;
        margin-right: 1%;
        margin-left: 0;
        margin-top: 5px;
    }
    .logout {
        position: relative;
        float: right;
        margin-right: 1%;
        margin-left: 0;
        margin-top: 5px;
    }
    .login-form {
        margin-left: 24%;
        margin-right: 24%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .login-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .register-form {
        margin-left: 24%;
        margin-right: 24%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .register-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .search {
        margin-top: 10%;
        margin-left: 32%;
        margin-right: 32%;
    }
    .swiper-container {
        margin-top: 2%;
        left: 2%;
        width: 96%;
        height: 60%;
    }
}

@media (max-width: 500px) {
    .login-form {
        margin-left: 18%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .login-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .register-form {
        margin-left: 18%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .register-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .search {
        margin-top: 13%;
        margin-left: 26%;
    }
    .swiper-container {
        margin-top: 3%;
        left: 2%;
        width: 96%;
        height: 60%;
    }
}

@media screen and (max-width: 400px) {
    .login-form {
        margin-left: 2.5%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .login-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .register-form {
        margin-left: 2.5%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .register-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .search {
        margin-top: 18%;
        margin-left: 12%;
    }
    .swiper-container {
        margin-top: 6%;
        left: 2%;
        width: 96%;
        height: 60%;
    }
}