$bg: blue;

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Gugi', cursive;
    background-color: rgb(156, 95, 95);
}

.bgc-adidas img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.side-menu {
    color: white;
    position: fixed;
    z-index: 1;
    background-color: rgba(218, 137, 137, 0.274);
    height: 100%;
    width: 102px;
}

.side-menu div i {
    font-size: 28px;
    height: 30px;
}

.side-menu .empty i {
    display: none;
}

.side-menu div span {
    font-size: 18px;
}

.side-menu div {
    padding: 10px;
    text-align: center;
}

.side-menu div:hover:not(.text):not(.empty) {
    background-color: rgba(218, 137, 137, 0.582);
}

.empty {
    height: 30%;
    opacity: 100%;
}

.search {
    margin-left: 43%;
    margin-top: 27px;
    position: fixed;
    z-index: 1;
}

.search input {
    border: none;
    border-radius: 15px;
    width: 280px;
    height: 34px;
    background-color: rgba(241, 138, 138, 0.301);
    color: white;
    font-size: 24px;
    text-align: center;
}

.search input::placeholder {
    color: white;
}

.search input:focus {
    outline: none;
}

.search input:-webkit-autofill:focus {
    background-color: rgba(241, 138, 138, 0.301);
}

.search i {
    color: white;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 8px;
}

.search i:hover {
    color: rgb(201, 98, 98);
}

.login {
    position: fixed;
    z-index: 1;
    color: white;
    margin-left: 92.3%;
    margin-top: 27px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(241, 138, 138, 0.301);
    border-radius: 20px;
}

.login:hover {
    background-color: rgba(241, 138, 138, 0.582);
    cursor: pointer;
}

.logout {
    display: none;
    position: fixed;
    z-index: 1;
    color: white;
    margin-left: 92.3%;
    margin-top: 27px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(241, 138, 138, 0.301);
    border-radius: 20px;
}

.logout:hover {
    background-color: rgba(241, 138, 138, 0.582);
    cursor: pointer;
}

.swiper-container {
    display: block;
    height: 65%;
    width: 65%;
    top:  18%;
    left: 18%;
    position: fixed;
    border-radius: 10px;
}

.swiper-slide {
    background-color: rgba(218, 137, 137, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.swiper-pagination {
    background-color: rgba(218, 137, 137, 0.582);
}

/*-------------------Login - Register----------------------------*/

.login-form {
    margin-left: 39.5%;
    margin-top: 19%;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 80px;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    background-color: rgba(218, 137, 137, 0.274);
}

.login-form i {
    position: absolute;
    color: white;
    margin-left: 325px;
    margin-top: -40px;
    font-size: 22px;
}

.login-form i:hover {
    color: rgb(201, 98, 98);
}

.register-form {
    margin-left: 39.5%;
    margin-top: 19%;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 80px;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    background-color: rgba(218, 137, 137, 0.274);
}

.register-form i {
    position: absolute;
    color: white;
    margin-left: 325px;
    margin-top: -40px;
    font-size: 22px;
}

.register-form i:hover {
    color: rgb(201, 98, 98);
}

.username input {
    height: 28px;
    width: 320px;
    font-size: 22px;
    font-family: 'Gugi', cursive;
    border: none;
    border-radius: 7px;
    text-align: center;
}

.password {
    padding-top: 15px;
}

.password input {
    height: 28px;
    width: 320px;
    font-size: 22px;
    font-family: 'Gugi', cursive;
    border: none;
    border-radius: 7px;
    text-align: center;
}

.send {
    margin-top: 15px;
    margin-left: 80px;
}

.send input {
    height: 36px;
    width: 168px;
    border-radius: 12px;
    background-color: rgb(46, 211, 120);
    border: none;
    color: white;
    font-size: 20px;
}

/*--------------------------------------------------------------------*/

.slide1 {
    display: flex;
}

@media screen and (max-width: 1140px) {
    body {
        background-color: rgb(156, 95, 95);
    }
    .bgc-adidas img {
        display: none;
    }
    .login {
        margin-left: 88%;
    }
    .logout {
        margin-left: 88%;
    }
    .login-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .register-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .swiper-container {
        left: 18%;
        width: 75%
    }
}

@media (max-width: 800px) {
    .empty {
        height: 10%;
    }
    .login {
        margin-left: 83%;
    }
    .logout {
        margin-left: 83%;
    }
    .login-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .register-form {
        margin-left: 35%;
        margin-top: 18%;
    }
    .swiper-container {
        left: 18%;
        width: 75%
    }
}


@media screen and (max-width: 650px) {
    .bgc-adidas img {
        display: none;
    }
    .side-menu {
        width: 95px;
        height: 300px;
    }
    .side-menu div i {
        display: none;
    }
    .empty {
        height: 31.5px;
    }
    .side-menu .empty i {
        display: block;
    }
    .empty:hover {
        background-color: rgba(218, 137, 137, 0.274);
    }
    .home {
        display: none;
    }
    .shop {
        display: none;
    }
    .cart {
        display: none;
    }
    .contact {
        display: none;
    }
    .side-menu {
        height: 50px;
        z-index: 2;
    }
    .login {
        margin-left: 75%;
        margin-top: 5px;
    }
    .logout {
        margin-left: 75%;
        margin-top: 5px;
    }
    .login-form {
        margin-left: 18%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .login-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .register-form {
        margin-left: 18%;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .register-form i {
        margin-left: 87%;
        margin-top: -33px;
    }
    .search {
        margin-top: 13%;
        margin-left: 22%;
    }
    .swiper-container {
        margin-top: 15%;
        left: 10px;
        width: 96%;
        height: 60%;
    }
}

@media (max-width: 390px) {
    .login {
        margin-left: 65%;
        margin-top: 5px;
    }
    .logout {
        margin-left: 65%;
        margin-top: 5px;
    }
    .login-form {
        margin-left: 10px;
        margin-top: 25%;
        padding: 10px;
        padding-top: 40px;
    }
    .login-form i {
        margin-left: 302px;
        margin-top: -33px;
    }
    .register-form {
        margin-left: 10px;
        margin-top: 32%;
        padding: 10px;
        padding-top: 40px;
    }
    .register-form i {
        margin-left: 302px;
        margin-top: -33px;
    }
    .search {
        margin-top: 65px;
        margin-left: 50px;
    }
    .swiper-container {
        margin-top: 14%;
        left: 10px;
        width: 340px;
        height: 320px;
    }
}